{% load static %}

<div
  id="banner-carousel"
  data-interval="3000"
  class="w-full h-full flex relative overflow-hidden"
>

    <!-- {% for image in banner.get_images %} -->
        <div
          class="banner-image w-full h-full bg-cover bg-top absolute top-0 left-0 transform transition-transform {% if forloop.first %}translate-x-0{% else %}-translate-x-full{% endif %}"
          style="background-image: url(''); background-attachment: fixed;"
          >
        </div>
        <div
          class="banner-image w-full h-full bg-cover bg-top absolute top-0 left-0 transform transition-transform {% if forloop.first %}translate-x-0{% else %}-translate-x-full{% endif %}"
          style="background-image: url(''); background-attachment: fixed;"
          >
        </div>
        <div
          class="banner-image w-full h-full bg-cover bg-top absolute top-0 left-0 transform transition-transform {% if forloop.first %}translate-x-0{% else %}-translate-x-full{% endif %}"
          style="background-image: url(''); background-attachment: fixed;"
          >
        </div>
    <!-- {% endfor %} -->

  <div
    class="absolute inset-0 px-2 text-center flex flex-col justify-center items-center text-white gap-y-2"
  >
    {% if top_subtitle %}
        <h2 class="text-xl">Subtitulo</h2>
    {% endif %} 
    {% if title %}
        <h1 class="text-5xl md:text-6xl font-bold font-[monserrat]">Title</h1>
    {% endif %} 
    {% if not is_a_service and subtitle %}
        <h2 class="text-lg lg:text-xl font-normal">
            {{ subtitle }}{% if reading_time %} | {{ reading_time }} min{% endif %}
        </h2>
    {% endif %}
  </div>
</div>




