{% load humanize %}

<div class="fixed z-10 inset-0 overflow-y-auto hidden" id="modal">
  <div
    class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-title"
      aria-describedby="modal-description"
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="w-full flex items-center justify-end">
            <button
            onclick="closeModal()"
            class="hover:opacity-80"
          >
            {% include 'svg/icons/close_button.svg' with size=4 %}
          </button>
        </div>
        <!-- Contenido del modal -->
        <div class="pt-6 pb-12">
          <p>
            <strong class="font-medium">Gracias por confiar en nosotros</strong>, queremos comentarte que 
            finalizamos nuestras compras por <strong class="font-medium">WhatsApp</strong>. <br> 
            Nos gusta tener un <strong class="font-medium">trato personalizado</strong> con nuestros clientes. 
            Ahí coordinaremos la entrega del producto y el medio de pago. 
            <strong class="font-medium">¡Continuemos!</strong>
          </p>
        </div>

        <div class="w-full text-center pb-4">
          <a href="https://api.whatsapp.com/send?phone=+5491151016990&text=Hola, me gustaría finalizar la compra de '{{ product.name }}' con un valor total de ${{ product.price|intcomma }}. ¡Muchas gracias!" target="_blank" class="text-center text-white font-medium py-2 px-4 rounded-lg bg-[#ab8254] hover:bg-[#8f6c45]"
            >Continuar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
