<div
  class="cookie-notice hidden bg-gray-200 p-3 mx-auto w-screen md:w-fit leading-6 rounded fixed bottom-1 lg:bottom-0 left-0 right-0 md:left-10 md:right-10 z-[100] shadow-xl text-center"
  id="cookie-notice"
>
  <div class="flex items-center gap-x-4">
    <div>
      <h3 class="text-[#f4668c] font-semibold">Cookies</h3>
      <p class="text-sm">
        Utilizamos cookies propias y de terceros para mejorar nuestros
        servicios.
      </p>
      <a
        class="text-blue-500 hover:underline text-xs"
        href="{% url 'website:cookies_policy' %}"
        >Aviso de Cookies</a
      >
    </div>

    <button
      class="mx-auto bg-[#f4668c] hover:bg-[#dd5d7f] text-white text-sm font-semibold py-3 px-4 rounded-xl transition duration-300"
      id="btn-accept-cookies"
    >
      De acuerdo
    </button>
  </div>
</div>

<div
  class="cookie-notice-bg hidden bg-black bg-opacity-20 fixed z-[99] w-full h-full top-0 left-0"
  id="cookie-notice-bg"
></div>

<style>
  .cookie-notice {
    z-index: 10000000000 !important;
  }
</style>