<footer
  class="w-full bg-[#140f0e] text-white pt-10 pb-4 px-4 sm:px-6 md:px-20 lg:px-36"
>
  <div
    class="w-full max-w-screen-lg md:h-full mx-auto flex flex-col items-center md:flex-row md:items-stretch gap-y-10 md:gap-x-10"
  >

      <ul
          class="text-lg w-full flex flex-col lg:flex-row mx-auto items-center justify-center gap-y-4 md:gap-y-8 md:py-4 sm:gap-x-6"
        >
          <li class="font2 text-xl text-center md:text-2xl lg:text-base hover:opacity-80">
            <a href="{% url 'store:store' %}">Tienda</a>
          </li>
          <li class="text-xl text-center md:text-2xl lg:text-base hover:opacity-80">
            <a href="{% url 'website:about' %}">Sobre nosotros</a>
          </li>
          <li class="text-xl text-center md:text-2xl lg:text-base hover:opacity-80">
            <a href="{% url 'website:contact' %}">Contacto</a>
          </li>
      </ul>
 
  </div>

  <div class="w-full pt-8 pb-4">
    <p class="text-sm text-center">
      &copy; 2023 - Todos los derechos reservados.
    </p>
  </div>
</footer>
