<header
  class="relative w-full h-[50vh] lg:h-[70vh] bg-[#140f0e] pt-20 flex flex-col justify-center items-center md:items-start"
>
  {% if banner %}
      <!-- <div class="w-full h-full bg-black bg-opacity-10 absolute inset-0 z-10"></div> -->
      <div class="w-full h-full absolute inset-0 ">
        <img src="{{ banner.image_1.url }}" alt="" class="w-full h-full object-cover object-center">
      </div>
  {% endif %}

  <div class="max-w-screen-2xl text-[#FFDFBA] bg-black bg-opacity-40 z-20 w-full mx-auto px-4 sm:px-8 md:px-16 py-10 text-{{ align }}">
      
    <h2 class="text-xl"></h2>

      <h1 class="font2 text-5xl lg:text-7xl font-semibold py-2">{{ title }}</h1>

      {% if subtitle %}
        <h2 class="text-xl lg:text-2xl font-normal py-2">{{ subtitle }}</h2>
      {% endif %}
  </div>

</header>
