{% load static %}

<nav
  id="navbar"
  class="bg-[#140f0e] bg-opacity-0 text-black h-20 top-0 w-full mx-auto overflow-hidden p-4 md:px-8 lg:px-10 2xl:px-20 fixed flex items-center justify-between z-50 transition transition-opacity duration-500 ease-in-out"
>
  

  <!-- Mobile buttons -->
  <input type="checkbox" id="menu" class="peer hidden" />

  <!-- Brand -->
  <a href="{% url 'website:home' %}" class="font2 text-white text-lg border-b z-50 peer-checked:opacity-0">
    <!-- <img src="" alt="Logo de " height="30" /> -->
    Liberté
  </a>
  
    <label
      id="openMenuButton"
      for="menu"
      class="peer-checked:hidden lg:hidden h-30 w-30 cursor-pointer transition-all z-50"
      >
      {% include 'svg/icons/mobile_menu_button.svg' %}
    </label>

    <label
      id="closeMenuButton"
      for="menu"
      class="hidden peer-checked:block lg:hidden h-30 w-30 cursor-pointer transition-all z-50"
      >
      {% include 'svg/icons/close_button.svg' with size=7 %}
    </label>

  <div
    id="navbarLinksContainer"
    class="w-screen lg:w-auto h-screen bg-gray-200 lg:bg-transparent lg:h-full overflow-hidden fixed lg:static left-0 top-0 py-8 lg:py-0 translate-x-full lg:translate-x-0 peer-checked:translate-x-0 transition-all ease-in-out z-40"
  >
  
    <ul class="w-full h-full pt-16 lg:bg-transparent lg:text-gray-100 flex flex-col lg:flex-row items-center lg:items-center justify-start pt-16 lg:pt-0 gap-16 lg:gap-x-10">

      <li class="font2 text-xl md:text-2xl lg:text-base hover:opacity-80">
        <a href="{% url 'store:store' %}" class="lg:text-gray-100 font-medium">
          Tienda
        </a>
      </li>
      <li class="text-xl md:text-2xl lg:text-base hover:opacity-80">
        <a href="{% url 'website:about' %}">Sobre nosotros</a>
      </li>
      <li
        class="text-xl md:text-2xl lg:text-base hover:opacity-80"
      >
        <a href="{% url 'website:contact' %}">Contacto</a>
      </li>
      
    </ul>
  </div>
</nav>

<script>
    const navbar = document.getElementById('navbar');
    const menuCheckBox = document.getElementById('menu');
    const openMenuButton = document.getElementById('openMenuButton');
    const closeMenuButton = document.getElementById('closeMenuButton');
    const navbarLinksContainer = document.getElementById('navbarLinksContainer');

    window.addEventListener('scroll', () => {
      let scroll = window.scrollY;
    
      if (scroll > 50) {
        navbar.classList.add('bg-opacity-50');
      } else {
        navbar.classList.remove('bg-opacity-50');
      }
    });
</script>