{% load static %}

<div class="bg-gray-100">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Products</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

      {% for product in products %} 
        {% include 'partials/product_card.html' with product=product %}
      {% endfor %}

    </div>
  </div>
</div>



