<a href="{% url 'store:product-detail' product.pk %}" class="group relative">
  <div class="aspect-[2/3] w-full overflow-hidden">
    <img src="{{ product.thumbnail_image.url }}" alt="Imagen de {{ product.name }}." class="h-full w-full object-cover object-center group-hover:opacity-75">
  </div>
  <div class="absolute left-0 bottom-0 w-full h-[30%] bg-black bg-opacity-50 text-white flex flex-col items-center justify-between gap-y-2 px-3 pt-2 pb-6 h-28 z-10">
    
    <h3 class="w-full text-sm">
      {{ product.name }}
    </h3>

    <div class="w-full flex items-center justify-between h-[20%]">
      <div class="">
        {% if product.is_unique %}
        <p class="mt-1 text-xs text-[#FFDFBA]">Producto único</p>
        {% else %}
        <p class="mt-1 text-xs text-gray-200">Stock: {{ product.stock }}</p>
        {% endif %}
      </div>
  
      <p class="text-lg font-medium">${{ product.price }}</p>
    </div>
  </div>
</a>

