<section class=" w-full flex flex-col flex-wrap">

    {% if title %}
        <a
            href="{% url 'store:store' %}"
            class="w-full pt-10"
        >
            <h2 class="inline font-medium text-2xl lg:text-3xl lg:font-normal border-1 hover:border-b border-zinc-800">
                {{ title }}
            </h2>
        </a>
    {% endif %}
    <div class="w-full overflow-y-auto gap-6 flex flex-col flex-wrap">   
        <div class="py-6 gap-6 flex lg:grid lg:grid-cols-4">
            {% for product in products %}
                <div class="w-[60vw] md:w-[30vw] lg:w-[20vw] h-full">
                    {% include 'partials/product_card.html' with product=product %}
                </div>
            {% endfor %}
        </div>
    </div>
    
  </section>