<ul id="share-buttons-container" data-url="{{ url }}" class="flex items-center justify-center gap-x-4">
    <li>
        <button id="shareFacebook">
            {% include 'svg/icons/facebook_icon.svg' with color='[#f4668c]' size=6 %}
        </button>
    </li>
    <li>
        <button id="shareTwitter">
            {% include 'svg/icons/twitter_icon.svg' with color='[#f4668c]' size=6 %}
        </button>
    </li>
    <li>
        <a href="mailto:?body={{ url }}">
            {% include 'svg/icons/email_icon.svg' with color='[#f4668c]' size=5 %}
        </a>
    </li>
    <li>
        <button id="shareWhatsApp">
            {% include 'svg/icons/whatsapp_icon.svg' with color='[#f4668c]' size=6 %}
        </button>
    </li>
</ul>
  