{% load static %}

<ul class="w-full flex flex-{{ direction }} justify-{{ spacign }} items-center gap-8">

  <li>
    <a href="{{ social_links.instagram }}" target="_blank">
      {% include 'svg/icons/instagram_icon.svg' with color=icon_color size=icon_size %}
    </a>
  </li>

  <li>
    <a href="{{ social_links.tiktok }}" target="_blank">
      {% include 'svg/icons/facebook_icon.svg' with color=icon_color size=icon_size %}
    </a>
  </li>

  <li>
    <a href="mailto:{{ social_links.email }}" target="_blank">
      {% include 'svg/icons/email_icon.svg' with color=icon_color size=icon_size %}
    </a>
  </li>
  
</ul>
