{% extends 'base.html' %} 
{% load static %} 

{% block description %}
<meta name="description" content="Blog de viajes: Descubre artículos, consejos de viaje y aventuras alrededor del mundo. ¡Inspírate para tu próximo destino!">
{% endblock description %}

{% block title %}Sobre nosotros{% endblock title %} 

{% block header %}
    {% include 'partials/header.html' with align='center' title=page.title subtitle=page.subtitle banner=page.banner %}
{% endblock header %}

{% block main %}
<main class=" max-w-screen-2xl w-full mx-auto px-8 sm:px-16 md:px-32 pb-20 md:pt-20">
    <section class="w-full mx-auto">
        <article class="content-container w-full mx-auto py-12">
            <p class="text-lg">
                {{ page.content | safe }}
            </p>
        </article>
    </section>
</main>
{% endblock main %} 

{% block scripts %}{% endblock scripts %}