{% extends 'base.html' %} 
{% load static %} 

{% block description %}
<meta name="description" content="">
{% endblock description %}

{% block head %}{% endblock head %}

{% block title %}Categorías{% endblock %}

{% block main %}
<main class="mx-auto py-20">

  {% if categories %}

        <section class="bg-gray-100">
            <div class="mx-auto max-w-7xl px-6 sm:px-8 lg:px-10">
              <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
                <h2 class="text-2xl font-bold text-gray-900">Colecciones</h2>
          
                
                <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        
                    {% for category in categories %}
                    <article class="group relative">
                        <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="{{ category.thumbnail_image.url }}" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
                        </div>
                        <h3 class="mt-6 text-base font-semibold text-gray-900">
                        <a href="{% url 'store:product-by-category' category.slug %}">
                            <span class="absolute inset-0"></span>
                            {{ category.name }}
                        </a>
                        </h3>
                    </article>
                    {% endfor %}
        
                </div>
              </div>
            </div>
          </section> 

  {% endif %}

</main>
{% endblock main %} 

