{% extends 'base.html' %} 

{% load humanize %}
{% load static %} 

{% block description %}
<meta name="description" content="">
{% endblock description %}

{% block head %}{% endblock head %} 

{% block title %}Finalizar compra{% endblock title %} 

{% block main %}
<main class="w-full mx-auto">
  <div class="bg-[#140f0e] w-full h-20"></div>
  {% include 'partials/checkout_modal.html' %}

  <div class="bg-white">
    <div>

      <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-10">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">Finalizar compra</h1>
        </div>
  
        <section class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
          <div class="lg:space-y-6 lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
            <h1 class="text-2xl lg:text-xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{ product.name }}</h1>
            <div
                class="h-full hidden lg:block overflow-hidden lg:aspect-none group-hover:opacity-80 lg:h-80"
              >
                <img
                  src="{{ product.thumbnail_image.url }}"
                  alt="Imagen de {{ product.name }}."
                  class="h-full object-cover object-center"
                />
              </div>
          </div>
    
          <!-- Price -->
          <div class="mt-4 lg:row-span-3 lg:mt-0">
            <h2 class="sr-only">Información del compra</h2>
            
            <!-- Stock -->
            <div class="mt-6">
              <h3 class="text-sm py-4 border-y font-medium text-[#ab8254]">Cantidad: 1 x ${{ product.price|intcomma }}</h3>

              <p class="text-xl text-right tracking-tight text-gray-900">TOTAL: ${{ product.price|intcomma }}</p>
            </div>
    
            <button onclick="openModal()" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-[#ab8254] hover:bg-[#8f6c45] px-8 py-3 text-base font-medium text-white focus:outline-none focus:ring-none focus:ring-indigo-500 focus:ring-offset-2">
              {% include 'svg/icons/cart_icon.svg' with size=6 %}
              Finalizar compra
            </button>
    
          </div>
    
          
        </section>
    </div>
  </div>

</main>
{% endblock main %} 

{% block scripts %}
{{ block.super }} 
<script src="{% static 'js/shoeCheckoutModal.js' %}"></script>
{% endblock scripts %}
