{% extends 'base.html' %}
{% load static %} 

{% block description %}
<meta name="description" content="¡Contáctanos! Estamos encantados de escuchar tus preguntas, comentarios o sugerencias. Completa el formulario de contacto y únete a nuestra comunidad de viajeros.">
{% endblock description %}

{% block head %}
{{ block.super }}
<!-- Start International Telephone Input -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">
<!-- End International Telephone Input -->
<!-- Start Google reCAPTCHA -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- End Google reCAPTCHA -->
{% endblock head %}

{% block title %}Contacto{% endblock %}

{% block header %}
    {% include 'partials/header.html' with align='center' title='Contacto' %}
{% endblock header %}

{% block main %}
<main class="max-w-7xl mx-auto py-20 lg:pt-0 lg:grid lg:grid-cols-1">
    <section class="max-w-screen-2xl bg-[#140f0e] w-full lg:w-fit mx-auto px-8 sm:px-16 lg:px-40 py-16  lg:mt-20 2xl:mt-0 lg:py-28 lg:flex flex-col justify-start 2xl:justify-center items-center">
        {% include 'partials/social_links.html' with icon_color='white' social_links=generals.social_links icon_size=10 direction='row' spacign='center' %}
    </section>
</main>
{% endblock main %}

{% block scripts %}{% endblock scripts %}