{% extends 'base.html' %} 
{% load static %} 

{% block description %}
<meta name="description" content="">
{% endblock description %}

{% block head %}{% endblock head %}

{% block title %}Buenos Aires{% endblock %}

{% block header %}
    {% include 'partials/header.html' with align='center' title=page.title subtitle=page.subtitle banner=page.banner %}
{% endblock header %}

{% block main %}
<main class="bg-gray-200 mx-auto">

  {% if selected_products %}
      <section class="max-w-screen-2xl w-full mx-auto space-y-8 py-10 px-4 sm:px-8 md:px-16">
          {% include 'partials/selected_products.html' with products=selected_products %}
          <div class="w-full mx-auto text-center sm:px-16 md:px-32">
              {% include 'partials/button.html' with url='/store' text='Ver más' align='center' color='[#140f0e]' icon_size=4 %}
          </div>
      </section>
  {% endif %}

  <section class="max-w-screen-2xl pt-10 pb-20  w-full mx-auto lg:grid grid-cols-2 lg:px-16">
    
    <article class="group relative max-h-90 h-90 lg:h-[80vh]">

      <div
        class="w-full h-full overflow-hidden lg:aspect-none group-hover:opacity-80"
      >
        <img
          src="{% static 'img/productos-unicos2.jpg' %}"
          alt="Imagen de ."
          class="h-full w-full object-cover object-center"
        />
      </div>

      
      <h3 class="absolute inset-0 h-full w-full px-3">
        <a href="{% url 'store:store' %}" class="flex flex-col items-center justify-center h-full w-full">
            <span aria-hidden="true" class="text-white text-2xl md:text-5xl lg:text-2xl uppercase">Productos únicos</span>
        </a>
      </h3>
      
    </article>

    <article class="group relative h-90 lg:h-[80vh]">

      <div
        class="w-full h-full overflow-hidden lg:aspect-none group-hover:opacity-80 lg:aspect-w-1 "
      >
        <img
          src="{% static 'img/productos-en-stock2.jpg' %}"
          alt="Imagen de ."
          class="h-full w-full object-cover object-center"
        />
      </div>

      <h3 class="absolute inset-0 h-full w-full px-3">
        <a href="{% url 'store:store' %}" class="flex flex-col items-center justify-center h-full w-full">
            <span aria-hidden="true" class="text-white text-2xl md:text-5xl lg:text-2xl uppercase">Productos en stock</span>
        </a>
      </h3>
      
    </article>

  </section>

  

</main>
{% endblock main %} 

{% block scripts %}{% endblock scripts %}

