{% extends 'base.html' %} 

{% load humanize %}
{% load static %} 

{% block description %}
<meta name="description" content="">
{% endblock description %}

{% block head %}
  {{ block.super }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
{% endblock head %}

{% block title %}Tienda - {{ product.name }}{% endblock title %} 

{% block main %}
<main
  class="w-full pb-16"
>
<div class="bg-[#140f0e] w-full h-20"></div>
<div class="bg-white border-t mx-auto md:px-20 space-y-8">

    <div class="w-full lg:flex items-center">

      <div class="w-full h-max lg:w-[60%]">

      <!-- Breadcrumb -->
      <nav aria-label="Breadcrumb" class="h-full lg_w-full p-4 lg:py-8">
        <ol role="list" class="lg:w-full mx-auto flex max-w-2xl items-center lg:justify-start space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
          <li>
            <div class="flex items-center lg:justify-start ">
              <a href="{% url 'store:store' %}" class="mr-2 text-sm font-medium text-gray-900">Tienda</a>
              <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
              </svg>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <a href="{% url 'store:product-by-category' product.category.slug %}" class="mr-2 text-sm font-medium text-gray-900">{{ product.category }}</a>
              <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
              </svg>
            </div>
          </li>
  
          <li class="text-sm">
            <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">{{ product.name }}</a>
          </li>
        </ol>
      </nav>
  
      <!-- Image gallery -->
      <section class="mx-auto max-w-2xl  lg:gap-x-6 lg:px-8">

        <div class="aspect-[1/1] overflow-hidden rounded-lg lg:block">
          <img src="{{ product.thumbnail_image.url }}" alt="1" class="h-full w-full object-cover object-center">
        </div>

        

        
  
      </section>
      </div>
  
      <!-- Product info -->
      <section class="w-full h-full lg:w-[40%] mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:max-w-7xl lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">

        <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{ product.name }}</h1>
        </div>
  
        <!-- Price -->
        <div class="mt-4 lg:row-span-3 lg:mt-0">
          <h2 class="sr-only">Información del producto</h2>
          <p class="text-3xl tracking-tight text-gray-900">${{ product.price|intcomma }}</p>
  
          <!-- Stock -->
          <div class="mt-6">
            <div class="flex items-center">
              {% if product.is_unique %}
              <h3 class="p-2 font-medium text-[#ab8254]">Producto único</h3>
              {% else %}
              <h3 class="ml-3 text-sm font-medium text-gray-600">Stock: {{ product.stock }}</h3>
              {% endif %}
            </div>
          </div>
          
          <!-- Buy button -->
          <a href="{% url 'store:checkout' product.pk %}" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-[#ab8254] hover:bg-[#8f6c45] px-8 py-3 text-base font-medium text-white focus:outline-none focus:ring-none focus:ring-indigo-500 focus:ring-offset-2">
            {% include 'svg/icons/cart_icon.svg' with size=6 %}
            Comprar
          </a>
  
        </div>
        
      </section>

    </div>

    <div class="w-full flex flex-row items-center justify-between gap-x-8">

      <section class="w-full lg:w-1/2">
        {% if images %}
        <div class="hidden lg:grid lg:grid-cols-2 lg:gap-6">
          {% for item in images %}
          <div class="aspect-[1/1] overflow-hidden">
            <img src="{{ item.image.url }}" alt="2" class="h-full w-full object-cover object-center">
          </div>
          {% endfor %}
        </div>
      {% endif %}
      </section>

      <section class="w-full lg:w-1/2 py-10 lg:pt-24 px-6 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8">
        <!-- Description and details -->
        <div>
          <h3 class="sr-only">Descripción</h3>
  
          <div class="space-y-6">
            <p class="text-lg text-gray-900">{{ product.description }}</p>
          </div>
        </div>
        {% if highlights %}
        <div class="mt-10">
          <h3 class="font-medium text-gray-900">Destacados</h3>
  
          <div class="mt-4">
            <ul role="list" class="list-disc space-y-2 pl-4">
              {% for highlight in highlights %}
  
              <li class="text-gray-400"><span class="text-gray-600">{{ highlight }}</span></li>
  
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if product.details %}
        <div class="mt-10">
          <h2 class="text-sm font-medium text-gray-900">Detalles</h2>
  
          <div class="mt-4 space-y-6">
            <p class="text-sm text-gray-600">{{ product.details }}</p>
          </div>
        </div>
        {% endif %}
      </section>

    </div>

    
</div>

</main>
{% endblock main %}

{% block scripts %} 
{{ block.super }} 
<script src="{% static 'js/shareArticle.js' %}"></script>
{% endblock scripts %}
