{% extends 'base.html' %} 

{% load static %} 

{% block description %}
<meta name="description" content="">
{% endblock description %}

{% block head %} {% endblock head %} 

{% block title %}Tienda{% endblock title %} 

{% block header %}
    {% include 'partials/header.html' with align='center' title=page.title subtitle=page.subtitle banner=page.banner %}
{% endblock header %}

{% block main %}
<main class="w-full bg-white mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-4">

        <section class="flex items-baseline justify-between border-b border-gray-200 pb-6 md:pt-10 md:px-10 lg:px-0">
          <h2 class="text-4xl hidden md:block tracking-tight">Productos</h2>
        </section>
  
        <section aria-labelledby="products-heading" class="pb-24 pt-6 px-6">
          <h2 id="products-heading" class="sr-only">Productos</h2>
  
          <div class="flex flex-col lg:flex-row lg:items-start items-center gap-x-8 gap-y-10 ">

            {% if categories %} 
            <!-- Filters -->
            <div class="w-fit md:w-fit lg:w-[10%] lg:mx-auto">

              <h3 class="sr-only">Categorías</h3>
              
              <ul role="list" class="flex lg:flex-col lg:justify-start justify-center items-center flex-wrap gap-4 border-b border-gray-200 pb-6  text-sm font-medium text-gray-900">
                <li class="lg:w-full">
                  <a href="{% url 'store:store' %}" class="{% if not category_slug %}font-semibold border-b border-[#140f0e]{% endif %}">Todos</a>
                </li>
                {% for category in categories %}
                <li class="lg:w-full">
                  <a href="{% url 'store:product-by-category' category.slug %}" class="{% if category_slug == category.slug %}font-semibold border-b border-[#140f0e]{% endif %}">{{ category.name }}</a>
                </li>
                {% endfor %}
              </ul>
              
            </div>
            {% endif %} 

            <!-- Product grid -->
            {% if products %} 
              <section class="w-full lg:w-[90%] bg-gray-100">
                {% include 'partials/products_list.html' with products=products %}
              </section>
            {% endif %} 

          </div>
        </section>
        
</main>
{% endblock main %} 

{% block scripts %}{% endblock scripts %}
