.content-container ul {
  list-style-type: disc !important;
  list-style-position: inside !important;
}

.content-container ol {
  list-style-type: decimal !important;
  list-style-position: inside !important;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  animation: show 1s ease-in-out;
  animation-fill-mode: both;
}

.comment-form-container label,
.comment-form label {
  display: none;
}

.filter-active {
  background-color: #f4668c !important;
  color: white;
}

@keyframes show-comment {
  from {
    opacity: 0;
    transform: translateY(-100%);
    background: #facac7;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    background: transparent;
  }
}

.animate-comment {
  animation: show-comment 1s ease-in-out;
  animation-fill-mode: both;
}

.circle {
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}

.static-newsletter div,
.static-newsletter form,
.static-newsletter ._dp_container-HTMLForm {
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

.static-newsletter ._dp_container-content {
  background-color: transparent !important;
}
.static-newsletter ._dp_container-form {
  min-width: none !important;
}

.static-newsletter ._dp_component--image img {
  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
  overflow: hidden !important;
}

.static-newsletter form label {
  padding-top: 1rem !important;
}
.static-newsletter form button {
  margin-top: 1rem !important;
}

footer .static-newsletter ._dp_form-header {
  display: none !important;
}

footer .static-newsletter form button,
.article-sidebar .static-newsletter form button {
  background-color: #f4668c !important;
}

.mobile-menu-newsletter-container .static-newsletter form label,
.article-sidebar .static-newsletter form label {
  color: #0a4540 !important;
}

.mobile-menu-newsletter-container .static-newsletter form button {
  background-color: #0a4540 !important;
}

._dp_doppler-footer {
  display: none !important;
}

.font1 {
  font-family: 'Montserrat', sans-serif;
}

.font2 {
  font-family: 'Playfair Display', serif;
}

