<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ERROR 404</title>
</head>
<body class="h-screen text-center flex flex-col items-center justify-center gap-y-6 bg-[#FACAC7]">
<h1 class="text-4xl text-white font-semibold">ERROR</h1>

<h2 class=" text-8xl text-white font-bold">404!</h2>
<h2 class="text-4xl text-white font-semibold">Recurso no encontrado</h2>
<h3 class="text-center text-white "><a href="{% url 'website:home' %}"
       class="text-white text-center text-lg bg-[#f4668c] hover:bg-[#dd5d7f] font-medium px-4 py-2 rounded-md mx-auto">Volver</a></h3>
</body>
</html>