{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-C06CBB6G59"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-C06CBB6G59');
    </script> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- <link rel="icon" type="image/png" sizes="50x50" href="{% static 'favicon.webp' %}"> -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon.webp' %}"> -->

    {% block description %}{% endblock description %}

    <title>Liberté - {% block title %}{% endblock %}</title>

    {% block head %}{% endblock head %}
  </head>

  <body hx-boost="true" class="font1 text-[#140f0e] relative">
    {% include 'partials/wsp_button.html' with wsp_link=generals.social_links.wsp %} 
    
    {% include 'partials/navbar.html' %}

    {% block header %} {% endblock header %} 

    {% block main %} {% endblock main %} 
    
    {% include 'partials/footer.html' %} 
    
    {% block scripts %}
    <script src="{% static 'js/bgToggleNavbar.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    {% endblock scripts %}
  </body>
</html>
